{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Dog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Data Dog"/>
    <meta name="robots" content="index, follow, noodp"/>
    <meta name="keywords" content="data dog"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'libraries/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}"/>
    <link rel="stylesheet/less" type="text/css" rel="stylesheet/less"
          href="{% static 'libraries/bootstrap-timepicker/css/timepicker.less' %}"/>
    {% block extra_css %}{% endblock extra_css %}
    <script type="text/javascript" src="{% static 'libraries/less/less.js' %}"></script>
</head>

<body>
<header>

</header>
<div class="container">
    {% block content %}
        <!-- content here -->
    {% endblock content %}
</div>
<footer>

</footer>
<script type="text/javascript" src="{% static 'libraries/jquery/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/bootstrap/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/bootstrap-timepicker/js/bootstrap-timepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/create.js' %}"></script>
</body>
</html>
